VITE_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
VITE_API_URL=http://127.0.0.1:3000/api
VITE_LINKEDIN_URL=https://www.linkedin.com/in/your-profile
VITE_FIREBASE_API_KEY=AIzaSyCSRaZ3AWD26MF_urJByCJ_S_LHdPpLulA
VITE_FIREBASE_AUTH_DOMAIN=project-dse04.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=project-dse04
VITE_FIREBASE_STORAGE_BUCKET=project-dse04.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=665179909168
VITE_FIREBASE_APP_ID=1:665179909168:web:47ab0d642335d81a6491f5
